<% include ./partials/header %>
<header>
<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="/">1000CP.info</a>

<div class="box centerIt"></div>

</nav>
</header>
<div class"row"> 
<h2 class="colorChange col-xs-12">Attacking Elements</h2>
<div class="container">
<div class="element grass col-xs-4 col-sm-2"><h4>Grass</h4></div>
<div class="element posion col-xs-4 col-sm-2"><h4>Posion</h4></div>
<div class="element fire col-xs-4 col-sm-2"><h4>Fire</h4></div>
<div class="element water col-xs-4 col-sm-2"><h4>Water</h4></div>
<div class="element bug col-xs-4 col-sm-2"><h4>Bug</h4></div>
<div class="element flying col-xs-4 col-sm-2"><h4>Flying</h4></div>
<div class="element normal col-xs-4 col-sm-2"><h4>Normal</h4></div>
<div class="element electric col-xs-4 col-sm-2"><h4>Electric</h4></div>
<div class="element psychic col-xs-4 col-sm-2"><h4>Psychic</h4></div>
<div class="element ghost col-xs-4 col-sm-2"><h4>Ghost</h4></div>
<div class="element dark col-xs-4 col-sm-2"><h4>Dark</h4></div>
<div class="element rock col-xs-4 col-sm-2"><h4>Rock</h4></div>
<div class="element dragon col-xs-4 col-sm-2"><h4>Dragon</h4></div>
<div class="element steel col-xs-4 col-sm-2"><h4>Steel</h4></div>
<div class="element ground col-xs-4 col-sm-2"><h4>Ground</h4></div>
<div class="element fight col-xs-4 col-sm-2"><h4>Fight</h4></div>
<div class="element ice col-xs-4 col-sm-2"><h4>Ice</h4></div>
<div class="element fairy col-xs-4 col-sm-2"><h4>Fairy</h4></div>
</div>
</div>
<div class="row">
<h2 class="col-xs-12">Pokemon Types</h2>
<div class="container">
    <div class="hideMe fairyShow col-md-4 col-sm-4 none">
            <h3 class="col-xs-12">Supper Effective Against:</h3>
            <div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
            <div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
            <div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
        </div>
        <div class="hideMe fairyShow col-md-4 col-sm-4 none">
            <h3 class="col-xs-12">Normal Effective Against:</h3>
            <div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
            <div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
            <div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
            <div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
            <div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
            <div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
            <div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
            <div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
            <div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
            <div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
            <div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
            <div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
            <div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
        </div>
        <div class="hideMe fairyShow col-md-4 col-sm-4 none">
            <h3 class="col-xs-12">Not Effective Against:</h3>
            <div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
            <div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
        </div>
<div class="hideMe iceShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
</div>
<div class="hideMe iceShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe iceShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
</div>
<div class="hideMe fightShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
</div>
<div class="hideMe fightShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
</div>
<div class="hideMe fightShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe fightShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Immune Against:</h3>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
</div>
<div class="hideMe groundShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
</div>
<div class="hideMe groundShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe groundShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
</div>
<div class="hideMe groundShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Immune Against:</h3>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
</div>
<div class="hideMe steelShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe steelShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
</div>
<div class="hideMe steelShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
</div>
<div class="hideMe dragonShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
</div>
<div class="hideMe dragonShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
</div>
<div class="hideMe dragonShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe rockShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
</div>
<div class="hideMe rockShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe rockShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
</div>
<div class="hideMe darkShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
</div>
<div class="hideMe darkShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe darkShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
</div>
<div class="hideMe ghostShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
</div>
<div class="hideMe ghostShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe ghostShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>

</div>
<div class="hideMe ghostShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Immune Against:</h3>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
</div>
<div class="hideMe psychicShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
</div>
<div class="hideMe psychicShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe psychicShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
</div>
<div class="hideMe psychicShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Immune Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
</div>
<div class="hideMe electricShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
</div>
<div class="hideMe electricShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe electricShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
</div>
<div class="hideMe electricShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Immune Against:</h3>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
</div>
<div class="hideMe normalShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe normalShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
</div>
<div class="hideMe normalShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Immune Against:</h3>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
</div>
<div class="hideMe flyingShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
</div>
<div class="hideMe flyingShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe flyingShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
</div>
<div class="hideMe bugShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
</div>
<div class="hideMe bugShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
</div>
<div class="hideMe bugShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe waterShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
</div>
<div class="hideMe waterShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe waterShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
</div>
<div class="hideMe fireShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
</div>
<div class="hideMe fireShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe fireShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
</div>
<div class="hideMe grassShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Super Effective Against:</h3>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
</div>
<div class="hideMe grassShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class="hideMe grassShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
</div>
<div class="hideMe posionShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Supper Effective Against:</h3>
<div class="ele Grass col-xs-4 col-sm-4"><h4>Grass</h4></div>
<div class="ele Fairy col-xs-4 col-sm-4"><h4>Fairy</h4></div>
</div>
<div class=" hideMe posionShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Normal Effective Against:</h3>
<div class="ele Bug col-xs-4 col-sm-4"><h4>Bug</h4></div>
<div class="ele Dark col-xs-4 col-sm-4"><h4>Dark</h4></div>
<div class="ele Dragon col-xs-4 col-sm-4"><h4>Dragon</h4></div>
<div class="ele Electric col-xs-4 col-sm-4"><h4>Electric</h4></div>
<div class="ele Fight col-xs-4 col-sm-4"><h4>Fight</h4></div>
<div class="ele Fire col-xs-4 col-sm-4"><h4>Fire</h4></div>
<div class="ele Flying col-xs-4 col-sm-4"><h4>Flying</h4></div>
<div class="ele Ghost col-xs-4 col-sm-4"><h4>Ghost</h4></div>
<div class="ele Water col-xs-4 col-sm-4"><h4>Water</h4></div>
<div class="ele Psychic col-xs-4 col-sm-4"><h4>Psychic</h4></div>
<div class="ele Normal col-xs-4 col-sm-4"><h4>Normal</h4></div>
<div class="ele Ice col-xs-4 col-sm-4"><h4>Ice</h4></div>
</div>
<div class="hideMe posionShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Not Effective Against:</h3>
<div class="ele Rock col-xs-4 col-sm-4"><h4>Rock</h4></div>
<div class="ele Posion col-xs-4 col-sm-4"><h4>Posion</h4></div>
<div class="ele Ground col-xs-4 col-sm-4"><h4>Ground</h4></div>
</div>
<div class="hideMe posionShow col-md-4 col-sm-4 none">
<h3 class="col-xs-12">Immune Against:</h3>
<div class="ele Steel col-xs-4 col-sm-4"><h4>Steel</h4></div>
</div>
</div>
</div>
<script>$(document).ready(function(){$(".grass").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".grassShow").show();});$(".posion").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".hideMe").hide();$(".posionShow").show();});$(".fire").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".fireShow").show();});$(".water").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".waterShow").show();});$(".bug").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".bugShow").show();});$(".flying").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".flyingShow").show();});$(".normal").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".normalShow").show();});$(".electric").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".electricShow").show();});$(".psychic").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".psychicShow").show();});$(".ghost").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".ghostShow").show();});$(".dark").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".darkShow").show();});$(".rock").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".rockShow").show();});$(".dragon").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".dragonShow").show();});$(".steel").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".steelShow").show();});$(".ground").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".groundShow").show();});$(".fight").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".fightShow").show();});$(".ice").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".iceShow").show();});$(".fairy").click(function(){$(".element").removeClass("selected");$(this).addClass("selected");$(".hideMe").hide();$(".fairyShow").show();});});</script>
<% include ./partials/footer %>